#monkeys {
  @include parallax-background("https://s3.amazonaws.com/codecademy-content/projects/sass/monkeys.jpg");
}

#landscape,
#monkeys {
  height: $parallax-height;
  width: 100%;
  perspective: 1px;
  transform: translateZ(-1px);
  overflow: {
    x: hidden;
    y: auto;
  }

  h1{
    letter-spacing: 0.06em;
    color: #FFF;
    opacity: 0.7;
    transform: translateZ(-2px);
    text: {
      transform: uppercase;
      align: center;
    }
    font: {
      family: 'Bitter', serif;
      size: 120px;
    }
  }
}

p {
  width: 70%;
  padding: 5%;
  margin: $center-margin;
  text-align: center;
  line-height: 1.4;
